<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Roma's blog</title>

    <body>
        <div>
            <h1><a href="/">Roma's blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Hello everybody. I' am very happy because i like to codding</p>
        </div>

        <div>
            <p>ps.It's amazing!</p>
            <h2><a href="">My second post</a></h2>
            <p> Everybody knows that Kennedy was been killed by alliens.</p>
        </div>
    </body>
</html>